* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #59c1bd;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

form {
  display: flex;
  margin: 30px auto;
  padding: 7px 10px;
  width: 350px;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 5px;
}

form input {
  width: 70%;
  border: none;
  background-color: transparent;
}

form button {
  width: 70px;
  padding: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #10a19d;
}

ul {
  width: 350px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 350px;
  margin-top: 5px;
  height: 30px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  list-style-type: none;
}

.editBtn {
  width: 70px;
  height: 24px;
  padding: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #82aae3;
}

.deleteBtn {
  width: 70px;
  height: 24px;
  padding: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #eb455f;
}

.saveBtn {
  width: 70px;
  height: 24px;
  padding: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #ade792;
}

.nameTodo {
  width: 200px;
  height: 30px;
  border: none;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.elInput {
  width: 200px;
  height: 30px;
  border: none;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.hidden {
  display: none;
}
